* {
  box-sizing: border-box;
}

::selection {
	opacity: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #222;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.main-content {
	padding-top: 8rem;
}

.text {
	display: block;
	color: rgba(0,0,0,0.5);
	position: relative;

	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-style: normal;
	text-align: center;
	letter-spacing: 0.5px;

	&--context {
		@extend .text;

		padding-bottom: 2rem;

		&:after,
		&::after {
			content: '';
			width: 50%;
			max-width: 100px;
			height: 2px;
			display: block;
			background-color: rgba(0,0,0,0.4);

			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&--attribution {
		@extend .text;

		padding-top: 1.5rem;

		&:before,
		&::before {
			content: '';
			width: 50%;
			max-width: 100px;
			height: 2px;
			display: block;
			background-color: rgba(0,0,0,0.4);

			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&--context-alt {
		@extend .text;

		padding-top: 1rem;

		font-size: 1.6rem;
		font-style: italic;
	}
}

.obstruct {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #FFF;
	position: fixed;
	right: 0;
	bottom: 0;
}

@import 'config/manifest';
@import 'base/manifest';
@import 'atoms/manifest';
@import 'molecules/manifest';
@import 'organisms/manifest';
