* {
  box-sizing: border-box;
}

::selection {
	opacity: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #222;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

blockquote {
	color: #FFF;
	margin: 0;
	padding: 2rem 3rem;

	font-family: 'Abhaya Libre', Times, serif;
	font-size: 4rem;
}

blockquote span {
	display: block;
}

blockquote footer {
	width: 100%;
	padding-top: 4rem;

	text-align: center;
}

blockquote cite {
	display: inline-block;
	color: rgba(0,0,0,0.5);
	border-top: solid 2px rgba(0,0,0,0.4);
	padding-top: 1rem;

	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-style: normal;
	letter-spacing: 0.5px;
}

.main-content {
	padding-top: 8rem;
}

.quote-wrap {
	width: 100%;
	max-width: 80rem;

	display: block;
	margin: 0 auto;
}

.quote-elem {
	max-height: 0;
	-webkit-transition: max-height 0s 0.5s;
	-ms-transition: max-height 0s 0.5s;
	transition: max-height 0s 0.5s;

	&.active {
		max-height: 999999px;
	}
}

.quote-elem__body,
.quote-elem__footer {
	opacity: 0;
	margin-top: 2rem;
}

.quote-elem__body {
	-webkit-transition: opacity 0.25s 0.1s, margin 0.25s 0.1s;
	-ms-transition: opacity 0.25s 0.1s, margin 0.25s 0.1s;
	transition: opacity 0.25s 0.1s, margin 0.25s 0.1s;
}

.quote-elem__footer {
	-webkit-transition: opacity 0.25s, margin 0.25s;
	-ms-transition: opacity 0.25s, margin 0.25s;
	transition: opacity 0.25s, margin 0.25s;
}

.active > .quote-elem__body,
.active > .quote-elem__footer {
	opacity: 1;
	margin-top: 0;
}

.active > .quote-elem__body {
	-webkit-transition: opacity 0.25s, margin 0.25s;
	-ms-transition: opacity 0.25s, margin 0.25s;
	transition: opacity 0.25s, margin 0.25s;
}

.active > .quote-elem__footer {
	-webkit-transition: opacity 0.25s 0.1s, margin 0.25s 0.1s;
	-ms-transition: opacity 0.25s 0.1s, margin 0.25s 0.1s;
	transition: opacity 0.25s 0.1s, margin 0.25s 0.1s;
}

.obstruct {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #FFF;
	position: fixed;
	right: 0;
	bottom: 0;
}

@import 'config/manifest';
@import 'base/manifest';
@import 'atoms/manifest';
@import 'molecules/manifest';
@import 'organisms/manifest';
