// --------------------------------------------------
// VARIABLES
// --------------------------------------------------
$nav-wrap: '.nav-wrap';
$nav-toggle: '.nav-toggle';


// --------------------------------------------------
// SELECTORS
// --------------------------------------------------
/**
 * 'Root' class for project navigation elem.
 */
#{$nav-wrap} {
	width: 100%;
	height: 5rem;
	background-color: #FFF;
	box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.2);
	display: block;

	-webkit-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	transform: translate(0, -100%);

	transition: transform 0.35s;

	&.is-active {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}


/**
 * Project navigation 'inner' element.
 */
#{$nav-wrap}__inner {
	width: 90%;
	max-width: 120rem;
	height: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}


/**
 * `:before` pseudo-element of 'inner' navigation.
 *
 * Rules below allow for the 'tab' that hangs down
 * below the navigation.
 */
#{$nav-toggle}  {
	width: 5rem;
	height: 3rem;
	display: block;
	background-color: #FFF;
	box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.2);
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	position: absolute;
	top: 100%;
	right: 0;
}
